# Ignore everything
*
# But descend into directories
!*/
# You can be specific with these rules
!/htdocs/JamConfig.php
!/htdocs/api/**
!/htdocs/wp-content/themes/aardvark-child/**
!/htdocs/wp-content/plugins/bp-custom.php
!/composer.json
!/README.md
!/.gitignore

