<div class="pkgbox postbox">
    <a href="{{url}}" class="pkgbox-cover" style="background-image:url({{image}});">
        {{#each categories}}
            <div class="post-box-category">
                {{.}}
            </div>
        {{/each}}
    </a>
    <div class="pkgbox-content">
        <h3><a href="{{url}}">{{title}}</a></h3>
        <div class="pkgbox-info">
            <div class="pkgbox-description">{{{excerpt}}}</div>
        </div>
    </div>
    <div class="pkgbox-footer">
        <span><i class="fas fa-user"></i>  {{{author}}}</span>
        <span><i class="fas fa-clock"></i>  <time class="gp-post-meta gp-meta-date" datetime="{{datetime}}">{{datestr}}</time></span>
        <span><i class="fas fa-comment-dots"></i>  {{comments}}</span>
    </div>
</div>