<div class="videobox">
    <div class="videobox-header">
        <a href="{{url}}" target="_blank" class="videobox-cover" style="background-image:url({{image}});">
        </a>
    </div>
    <div class="videobox-content">
        <h3><a href="{{url}}" target="_blank">{{title}}</a></h3>
        <div class="videobox-info">
            <span class="videobox-author"><i class="fas fa-user"></i>  {{{author}}}</span>
            <span class="videobox-date"><i class="fas fa-clock"></i>  <time class="gp-post-meta gp-meta-date" datetime="{{datetime}}">{{datestr}}</time></span>
        </div>
    </div>
</div>