.user-role-contributor .components-panel__body:nth-of-type(1),
.user-role-contributor .components-panel__body:nth-of-type(2),
.user-role-contributor .components-panel__body:nth-of-type(7),
.user-role-contributor .gp-postbox-post-format,
.user-role-contributor #gp-general,
.user-role-contributor #toplevel_page_pp-calendar{
    display:none;
}

/* Main column width */
.wp-block {
    max-width: 864px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}

.edit-post-layout__metaboxes{
    padding-bottom:15px;
}